<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.keypath.KeyPath.helper</string>
	<key>CFBundleName</key>
	<string>KeyPath Helper</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 KeyPath. All rights reserved.</string>
	<key>LSSupportsSMAppService</key>
	<true/>
	<key>SMAppServiceType</key>
	<string>daemon</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier "com.keypath.KeyPath" and anchor apple generic and certificate leaf[subject.CN] = "Developer ID Application: Micah Alpern (X2RKZ5TG99)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
</dict>
</plist>